@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* input de numero */
.input-options {
  border: none;
  padding: 5px;
  width: 400px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  text-align: center;
}

/* Texto de la rutas */
.text-path {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 5px;
  border: none;
  background: #fefefe;
  margin-left: 10px;
  width: 100%;
  text-align: center;
}

/* boton comprimir */
.butto-compress {
  border: none;
  background: none;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  padding: 15px;
  width: 300px;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  color: #fefefe;
  font-size: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.butto-compress:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Contenedor de botones */
.container-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Boton del folder */
.button-path-folder {
  border: none;
  background: none;
  padding: 10px;
  font-size: 15px;
  background: #2c3e50;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 200px;
  color: #ecf0f1;
  cursor: pointer;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}
.button-path-folder:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Resultados */

.result-list {
  width: 50%;
  height: 100%;
  background: #fefefe;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-top: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  background-image: linear-gradient(
    64.3deg,
    rgba(254, 122, 152, 0.81) 17.7%,
    rgba(255, 206, 134, 1) 64.7%,
    rgba(172, 253, 163, 0.64) 112.1%
  );
  z-index: 100;
  margin-bottom: 20px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-files-selects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.item-list {
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.445);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.img-preview {
  width: 60px;
  height: 60px;
}

.number-files {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #2c3e50;
  margin-bottom: 10px;
}
